@import url("reset.css");

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html,
body {
    line-height: 1.6;
    font-family: Poppins, serif;
    font-size: 14px;
    font-weight: 300;
    color: #212529;
}

[class*="__container"] {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

img.article__banner {
    max-width: 100%;
    border-radius: 5px;
}

.article__content, .article__content-end {
    max-width: 816px;
    margin: 0 auto;
}

.article__content-last {
    max-width: 816px;
    margin: 0 auto;
}

main{
    padding: 80px 0;
}

.article{
    margin-bottom: 60px;
}

h2 {
    font-weight: 700;
    font-size: 25px;
    color: #212529;
}

.article__title {
    margin-bottom: 40px;
}

p {
    color: #6C757D;
    margin-bottom: 40px;
}

.article__last, .article__content-end {
    margin-bottom: 0;
}

.ending p {
    margin-bottom: 60px;
}

.article__content, .article__banner {
    margin-bottom: 80px;
}

.article__images {
    font-size: 0;
    margin-bottom: 80px;
}

.img-1, .img-2 {
    display: inline-block;
    max-width: 605px;
}

.img-1 {
    margin-right: 30px;
}

.fullscreen {
    margin-bottom: 100px;
}

img.full-image {
    width: 100%;
}

/* Practice styles begin */
.styles{
    max-width: 900px;
    margin: 0 auto;
}

.buttons{
    margin-bottom: 50px;
}

.button-link-1{
    display: inline-block;
    padding: 15px;
    margin-right: 20px;
    border: 2px solid rgb(12, 88, 91);
    border-radius: 8px;
    background-color: rgba(128, 0, 128, 0.716);
    color: rgb(255, 255, 255);
}

.button-link-2{
    display: inline-block;
    padding: 25px;    
    margin-right: 20px;
    border: 5px dashed rgb(35, 198, 98);
    border-radius: 5px;
    background-color: rgba(223, 241, 150, 0.716);
    color: rgb(42, 41, 41);
}

.button-link-3{
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    border: 5px dotted rgb(141, 98, 240);
    border-radius: 5px;
    background-color: rgba(241, 150, 238, 0.716);
    color: rgb(42, 41, 41);
}

.button-link-4{
    display: inline-block;
    padding: 0 45px;
    margin-right: 20px;
    outline: 5px solid rgb(35, 155, 203);
    border-radius: 5px;
    background-color: rgba(131, 230, 241, 0.716);
    color: rgb(255, 255, 255);
}

.block-1, .block-2, .block-3{
    width: 150px;
	height: 150px;
    margin: 50px;
    display: inline-block;
}

.block-1{
	background-color: rgba(223, 81, 223, 0.681);
    opacity: 0.8;
    border-radius: 50%;
}

.block-2{
    background-color: rgba(65, 244, 52, 0.681);
    opacity: 0.5;
    border-radius: 20px 5px;
}

.block-3{
    background-color: rgba(91, 216, 233, 0.681);
    opacity: 0.7;
    border-radius: 2px 25px;
}


.avatar, .avatar-shadow, .avatar-vision, .avatar-display, .avatar-border{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 25px;
}

.avatar{
    outline: 5px solid rgb(248, 144, 40);
    opacity: 0.7;
}

.avatar-shadow{
    box-shadow: 5px 50px 50px 5px #212529;
}

.avatar-vision{
    visibility: hidden;
}

.avatar-display{
    display: none;
}

.avatar-border{
    border: 10px dotted rgb(50, 33, 91);
}

/* Practice styles end */
