@import url("reset.css");

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html,
body {
    height: 100%;
    line-height: 1.6;
    /* 25/14 */
    font-size: 14px;
    color: #212529;
    font-family: Poppins, serif;
}


main {
    max-width: 1270px;
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper-small {
    max-width: 816px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    border-radius: 5px;
    vertical-align: middle;
}

.intro, .middle{
    margin-bottom: 80px;
}

.intro{
    padding-top: 15px;
}

h2 {
    font-weight: 700;
    font-size: 25px;
    color: #212529;
}

.title{
    margin-bottom: 40px;
}

.title-1{
    max-width: 400px;
}

.title-2{
    max-width: 605px;
}

p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.7;
    color: #6C757D;
    margin-bottom: 40px;
}

p.last{
    margin-bottom: 0;
}

.ending p{
    margin-bottom: 60px;
}

.banner{
    margin-bottom: 80px;
}

.img-container{
    font-size: 0;
    margin-bottom: 80px;
}

.img-1, .img-2{
    display: inline-block;
    max-width: 605px;
}

.img-1{
    margin-right: 30px;
}